@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;
        --background: 0.98 0 0;
        --foreground: 0.145 0 0;
        --card: 1 0 0;
        --card-foreground: 0.145 0 0;
        --popover: 1 0 0;
        --popover-foreground: 0.145 0 0;
        --primary: 0.55 0.24 25;
        --primary-foreground: 0.985 0 0;
        --secondary: 0.96 0 0;
        --secondary-foreground: 0.145 0 0;
        --muted: 0.96 0 0;
        --muted-foreground: 0.5 0 0;
        --accent: 0.96 0 0;
        --accent-foreground: 0.145 0 0;
        --destructive: 0.577 0.245 27.325;
        --destructive-foreground: 0.985 0 0;
        --border: 0.9 0 0;
        --input: 0.9 0 0;
        --ring: 0.55 0.24 25;
        --chart-1: 0.646 0.222 41.116;
        --chart-2: 0.6 0.118 184.704;
        --chart-3: 0.398 0.07 227.392;
        --chart-4: 0.828 0.189 84.429;
        --chart-5: 0.769 0.188 70.08;
    }

    .dark {
        --background: 0.10 0 0;
        --foreground: 0.985 0 0;
        --card: 0.14 0 0;
        --card-foreground: 0.985 0 0;
        --popover: 0.14 0 0;
        --popover-foreground: 0.985 0 0;
        --primary: 0.60 0.26 25;
        --primary-foreground: 0.985 0 0;
        --secondary: 0.20 0 0;
        --secondary-foreground: 0.985 0 0;
        --muted: 0.20 0 0;
        --muted-foreground: 0.60 0 0;
        --accent: 0.24 0 0;
        --accent-foreground: 0.985 0 0;
        --destructive: 0.60 0.24 27;
        --destructive-foreground: 0.985 0 0;
        --border: 0.24 0 0;
        --input: 0.24 0 0;
        --ring: 0.60 0.26 25;
        --chart-1: 0.55 0.25 25;
        --chart-2: 0.65 0.18 180;
        --chart-3: 0.75 0.20 140;
        --chart-4: 0.70 0.22 300;
        --chart-5: 0.68 0.24 30;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
